/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
@import "bower_components/bootstrap/dist/css/bootstrap.css";
@import "bower_components/css-spinners/css/spinner/three-quarters.css";
@import "bower_components/nprogress/nprogress.css";
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* ::selection {
  background: #ffe146;
  color: #fff;
}
body {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  background: #fefefe;
  font-family: "Roboto Condensed";
  font-weight: 300;
}
body div#content {
  padding: 0;
  margin: 0;
}
body.neatline.show div#neatline-map {
  width: 100%;
}
div.container {
  padding: 0;
  width: auto;
}
#nprogress .bar {
  background: #fff;
  height: 4px;
}
#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}
.olControlLayerSwitcher,
.olControlPanZoom {
  display: none;
}
div.exhibit {
  float: left;
  width: 1px;
  z-index: 0;
}
div.exhibit div#neatline,
div.exhibit div#neatline-map {
  height: 100%;
  width: 100%;
}
body.neatline.show div#neatline-narrative {
  position: absolute;
  overflow-y: auto;
  width: 400px;
  z-index: 1;
  background-color: rgba(44,73,97,0.85);
  color: #f2f2f2;
}
body.neatline.show div#neatline-narrative header {
  font-size: 12px;
  padding: 0;
}
body.neatline.show div#neatline-narrative h1 {
  font-family: Oswald;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0.4em 0;
  color: #ffe146;
}
body.neatline.show div#neatline-narrative [data-neatline-slug] {
  background: transparent;
  border-bottom: 1px solid #ffe146;
  cursor: pointer;
}
body.neatline.show div#neatline-narrative [data-neatline-slug].highlighted,
body.neatline.show div#neatline-narrative [data-neatline-slug].selected {
  background: rgba(255,225,70,0.4);
}
#static-bubble {
  position: absolute;
  left: unset;
  width: 400px;
  right: 420px;
}
div.bubble.static {
  opacity: 1;
  font-family: Oswald;
}
div.bubble.static.selected {
  opacity: 1;
}
div.bubble.static a.close {
  text-shadow: none;
  color: rgba(44,73,97,0.85);
  font-size: 3em;
  font-weight: 200;
  line-height: 0;
  opacity: 0.9;
}
div.bubble.static a.close:hover {
  opacity: 1;
}
#zoom {
  position: absolute;
  left: 405px;
  top: 5px;
}
#zoom .btn {
  display: block;
  height: 40px;
  width: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  padding: 0;
  background-color: rgba(44,73,97,0.85);
  color: #f2f2f2;
  font-family: Consolas;
  font-size: 40px;
  text-align: center;
}
#zoom .btn:hover {
  color: #ffe146;
}
#word-line {
  position: fixed;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
}
#word-line svg {
  position: fixed;
  top: 0;
  left: 0;
}
#word-line svg line {
  stroke: #ffe146;
}
#word-line svg circle {
  fill: #ffe146;
}
