
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

#static-bubble

  position absolute
  left unset
  width 400px
  right 420px

div.bubble.static

  opacity 1
  font-family Oswald

  &.selected
    opacity 1

  a.close

    text-shadow none
    color $bg-color
    font-size 3em
    font-weight 200
    line-height 0
    opacity 0.9

    &:hover
      opacity 1
