
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

body.neatline.show div#neatline-narrative

  position absolute
  overflow-y auto
  width $text-width
  z-index 1

  blue-container()

  header
    font-size 12px
    padding 0

  h1
    font-family Oswald
    font-size 3em
    font-weight normal
    line-height 1.2em
    margin 0.4em 0
    color $link-color

  [data-neatline-slug]
    background transparent
    border-bottom 1px solid $link-color
    cursor pointer

    &.highlighted, &.selected
      background rgba(255, 225, 70, 0.4)
